<?xml version="1.0" encoding="utf-8"?><!--
  ~ Blockify - a messaging app with a focus on speed and security.
  ~ https://github.com/King-M-A-KH-85/blockify-android
  ~ Copyright (c) 2023. All Rights Reserved.
  ~
  ~ Use of this source code is governed by a BSD-style license
  ~ that can be found in the LICENSE file in the root of the source
  ~ tree. An additional intellectual property rights grant can be found
  ~ in the file PATENTS.  All contributing project authors may
  ~ be found in the AUTHORS file in the root of the source tree.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blockify"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
